.canvas-wrap
  flex 1
  background-color #f3f7f9
  .canvas 
    width 420px
    height 630px
    margin 20px auto 0
    box-sizing border-box
    border 1px solid $borderColor
    background #ffffff
    transition background 0.5s ease
    position relative
    
    .item
      position absolute
      box-sizing border-box
      border-style solid
    .selected-wrap
      position absolute
      border 1px dashed #eeeeee
      cursor grab
      box-sizing border-box
      .item
        position absolute
        box-sizing border-box
        